/CarPrize.Test/bin/Debug/CarPrize.Test.dll
/CarPrize.Test/bin/Debug/CarPrize.Test.pdb
/CarPrize.Test/bin/Debug/CarPrize.exe
/CarPrize.Test/bin/Debug/CarPrize.pdb
/CarPrize.Test/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/CarPrize.Test/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
/CarPrize.Test/bin/Debug/Mono.Cecil.Mdb.dll
/CarPrize.Test/bin/Debug/Mono.Cecil.Pdb.dll
/CarPrize.Test/bin/Debug/Mono.Cecil.Rocks.dll
/CarPrize.Test/bin/Debug/Mono.Cecil.dll
/CarPrize.Test/bin/Debug/NUnit3.TestAdapter.dll
/CarPrize.Test/bin/Debug/nunit.engine.api.dll
/CarPrize.Test/bin/Debug/nunit.engine.dll
/CarPrize.Test/bin/Debug/nunit.framework.dll
/CarPrize.Test/bin/Debug/nunit.framework.xml
/CarPrize.Test/obj/Debug/CarPrize.Test.csproj.FileListAbsolute.txt
/CarPrize.Test/obj/Debug/CarPrize.Test.csprojResolveAssemblyReference.cache
/CarPrize.Test/obj/Debug/CarPrize.Test.dll
/CarPrize.Test/obj/Debug/CarPrize.Test.pdb
/CarPrize.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CarPrize.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CarPrize.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CarPrize.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CarPrize/bin/Debug/CarPrize.exe
/CarPrize/bin/Debug/CarPrize.exe.config
/CarPrize/bin/Debug/CarPrize.pdb
/CarPrize/bin/Debug/CarPrize.vshost.exe
/CarPrize/bin/Debug/CarPrize.vshost.exe.config
/CarPrize/bin/Debug/nunit.framework.dll
/CarPrize/bin/Debug/nunit.framework.xml
/CarPrize/obj/Debug/CarPrize.csproj.FileListAbsolute.txt
/CarPrize/obj/Debug/CarPrize.csprojResolveAssemblyReference.cache
/CarPrize/obj/Debug/CarPrize.exe
/CarPrize/obj/Debug/CarPrize.pdb
/CarPrize/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CarPrize/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CarPrize/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CarPrize/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/NUnit.3.5.0/CHANGES.txt
/packages/NUnit.3.5.0/LICENSE.txt
/packages/NUnit.3.5.0/NOTICES.txt
/packages/NUnit.3.5.0/NUnit.3.5.0.nupkg
/packages/NUnit.3.5.0/lib/dotnet/nunit.framework.dll
/packages/NUnit.3.5.0/lib/dotnet/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net20/NUnit.System.Linq.dll
/packages/NUnit.3.5.0/lib/net20/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net20/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net35/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net35/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net40/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net40/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net45/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net45/nunit.framework.xml
/packages/NUnit.3.5.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.dll
/packages/NUnit.3.5.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.xml
/packages/NUnit3TestAdapter.3.4.1/LICENSE.txt
/packages/NUnit3TestAdapter.3.4.1/NUnit3TestAdapter.3.4.1.nupkg
/packages/NUnit3TestAdapter.3.4.1/lib/Mono.Cecil.Mdb.dll
/packages/NUnit3TestAdapter.3.4.1/lib/Mono.Cecil.Pdb.dll
/packages/NUnit3TestAdapter.3.4.1/lib/Mono.Cecil.Rocks.dll
/packages/NUnit3TestAdapter.3.4.1/lib/Mono.Cecil.dll
/packages/NUnit3TestAdapter.3.4.1/lib/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.4.1/lib/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.4.1/lib/nunit.engine.dll
/packages/NUnitTestAdapter.2.0.0/NUnitTestAdapter.2.0.0.nupkg
/packages/NUnitTestAdapter.2.0.0/lib/NUnit.VisualStudio.TestAdapter.dll
/packages/NUnitTestAdapter.2.0.0/lib/nunit.core.dll
/packages/NUnitTestAdapter.2.0.0/lib/nunit.core.interfaces.dll
/packages/NUnitTestAdapter.2.0.0/lib/nunit.util.dll
/packages/NUnitTestAdapter.2.0.0/tools/install.ps1
/packages/repositories.config
/CarPrice/bin/Debug/CarPrize.exe
/CarPrice/bin/Debug/CarPrize.exe.config
/CarPrice/bin/Debug/CarPrize.pdb
/CarPrice/bin/Debug/CarPrize.vshost.exe
/CarPrice/bin/Debug/CarPrize.vshost.exe.config
/CarPrice/bin/Debug/CarPrize.vshost.exe.manifest
/CarPrice/bin/Debug/nunit.framework.dll
/CarPrice/bin/Debug/nunit.framework.xml
/CarPrice/obj/Debug/CarPrice.csproj.FileListAbsolute.txt
/CarPrice/obj/Debug/CarPrize.csproj.FileListAbsolute.txt
/CarPrice/obj/Debug/CarPrize.csprojResolveAssemblyReference.cache
/CarPrice/obj/Debug/CarPrize.exe
/CarPrice/obj/Debug/CarPrize.pdb
/CarPrice/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CarPrice/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CarPrice/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CarPrice/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CarPrice.Test/bin/Debug/CarPrize.Test.dll
/CarPrice.Test/bin/Debug/CarPrize.Test.pdb
/CarPrice.Test/bin/Debug/CarPrize.exe
/CarPrice.Test/bin/Debug/CarPrize.pdb
/CarPrice.Test/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/CarPrice.Test/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
/CarPrice.Test/bin/Debug/Mono.Cecil.Mdb.dll
/CarPrice.Test/bin/Debug/Mono.Cecil.Pdb.dll
/CarPrice.Test/bin/Debug/Mono.Cecil.Rocks.dll
/CarPrice.Test/bin/Debug/Mono.Cecil.dll
/CarPrice.Test/bin/Debug/NUnit3.TestAdapter.dll
/CarPrice.Test/bin/Debug/nunit.engine.api.dll
/CarPrice.Test/bin/Debug/nunit.engine.dll
/CarPrice.Test/bin/Debug/nunit.framework.dll
/CarPrice.Test/bin/Debug/nunit.framework.xml
/CarPrice.Test/obj/Debug/CarPrice.Test.csproj.FileListAbsolute.txt
/CarPrice.Test/obj/Debug/CarPrice.Test.csprojResolveAssemblyReference.cache
/CarPrice.Test/obj/Debug/CarPrize.Test.csproj.FileListAbsolute.txt
/CarPrice.Test/obj/Debug/CarPrize.Test.csprojResolveAssemblyReference.cache
/CarPrice.Test/obj/Debug/CarPrize.Test.dll
/CarPrice.Test/obj/Debug/CarPrize.Test.pdb
/CarPrice.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CarPrice.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CarPrice.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CarPrice.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs
